<div data-hook="use_cloud_files" class="field">
  <%= preference_field_tag 'preferences[use_cloud_files]', Spree::Config[:use_cloud_files], :type => :boolean %>
  <%= label_tag 'preferences[use_cloud_files]', t(:use_cloud_files) %>
</div>
